
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="{{ url_for('static', filename='js/vendor/what-input.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/motion-ui.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/1.0.8/vue.js"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
<script src="{{ url_for('static', filename='js/v-app.js') }}"></script>
